
/* ************************** ALL SCREEN ********************* */

@font-face {
    font-family: tahu;
    src: url(/fonts/Tahu!.ttf);
}

@font-face {
    font-family: amarillo;
    src: url(/fonts/Amarillo.ttf);
}

@font-face {
    font-family: bebas;
    src: url(/fonts/Bebas-Regular.ttf);
}

@font-face {
    font-family: made-tommy;
    src: url(/fonts/made-tommy.otf);
}

body, html{
    width: 100%;
    padding: 0;
    margin: 0;
}

html{
    padding: 0;
    margin: 0;
}

.nav-item a{
    font-weight: 500;
    color: #474747 !important;
}

.nav-item .active{
    color: #CAA76F !important;
    font-weight: 600;
}

.jumbotron{
    background-image: url("/images/jumbo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.jumbo-title h1{
    font-size: 50px;
    font-family: made-tommy;
    color: #444444;
}

.jumbo-title h5{
    font-size: 25 px;
    font-family: amarillo;
    color: #CAA76F;
}

.book-btn{
    border: 1px solid rgb(44, 44, 44);
}

.search-icons{
    width: 17px;
}



.featured-item h5{
    color: #444444;
}

.nav-contact:hover{
    cursor: pointer;
    color: #CAA76F !important;
    /* font-weight: 600; */
}

.facilities svg{
    width: 20px;
    fill: #CAA76F;
    margin-right: 10px;
}



.row-facility{
    border-bottom: 1px solid #CAA76F;
}

.facility-title{
    font-family: made-tommy;
    color: #444444;
}

.guest-book{
    background-color: #CAA76F;
}



.new-guest h1 {
    font-family: made-tommy;
    color: #444444;
}



 .guest-book hr{
    margin-top: 30px;
 }





 .guest-book svg{
    width: 300px;
    height: 50px;
    fill: #eccd9a;
    /* position: relative;
    top: -80px; */
 }

 .guest-book a{
    color: white;
    border: 1px solid white;

 }


 .guest-book a:hover{
    color: #CAA76F;
    border: 1px solid #CAA76F;
    background-color: white;
    transition: 0.3s;
 }





/* -------------------XS------------------- */
@media only screen and (max-width: 576px) {
    .navbar-brand img{
        width: 45px; 
     }
     .featured-item p{
        display: none;
     }
     .featured .col-lg-3{
        border-left: 1px solid #CAA76F;
        border-top: 1px solid #CAA76F;
     }

     .featured .col-lg-3:nth-child(2) , .featured .col-lg-3:nth-child(4){
        border-right: 1px solid #CAA76F;
    }
    .featured .col-lg-3:nth-child(3) , .featured .col-lg-3:nth-child(4){
        border-bottom: 1px solid #CAA76F;
    }

    .book{
        width: 80px;
    }
    .featured-item .bg-icons{
        background-color: #CAA76F;
        width: 40px;
        height: 40px;
    }
    
    .featured-item .bg-icons svg{
        width: 25px;
        fill: white;
    }
    .news img{
        width: 100px;
        height: 80px;
     }
     .guest-book img{
        width: 80px;
        height: 80px;
     }
     .guest-book a{
        padding:15px 70px;
        font-size: 20px;
     }
}

/* -------------------SM------------------- */
@media only screen and (min-width: 576px) {

}

/* -------------------MD------------------- */
@media only screen and (min-width: 768px) {
    .navbar-brand img{
       width: 60px; 
    }

    .featured .col-lg-3{
        border-left: 1px solid #CAA76F;
        border-top: 1px solid #CAA76F;
     }

     .featured .col-lg-3:nth-child(2) , .featured .col-lg-3:nth-child(4){
        border-right: 1px solid #CAA76F;
    }
    .featured .col-lg-3:nth-child(3) , .featured .col-lg-3:nth-child(4){
        border-bottom: 1px solid #CAA76F;
    }

    .book{
        width: 80px;
    }
    .featured-item .bg-icons{
        background-color: #CAA76F;
        width: 60px;
        height: 60px;
    }
    
    .featured-item .bg-icons svg{
        width: 35px;
        fill: white;
    }
    .facility-title h1{
        font-size: 30px;
    }
    .facility-title img{
        width: 30px !important;
    }
    .news img{
        width: 100px;
        height: 80px;
     }
     .guest-book img{
        width: 80px;
        height: 80px;
     }
     .guest-book a{
        padding:15px 70px;
        font-size: 20px;
     }
}

/* -------------------LG------------------ */
@media only screen and (min-width: 992px) {
    .navbar-brand img{
        width: 100px;
    }

   .featured .col-lg-3:nth-child(1) , .featured .col-lg-3:nth-child(2){
        border-bottom: 1px solid #CAA76F;
    }
    .featured .col-lg-3:nth-child(2){
        border-right: none;
    }
    .featured-item .bg-icons{
        background-color: #CAA76F;
        width: 60px;
        height: 60px;
    }
    
    .featured-item .bg-icons svg{
        width: 35px;
        fill: white;
    }
    .luxury-p{
        padding-right: 300px;
    }

    .news-event{
        padding-left: 220px;
    }
    .facility-title h1{
        font-size:41px;
    }

    .news-event{
        padding-right: 40px;
    }
    .news img{
        width: 250px;
        height: 200px;
     }
     .guest-book{
        padding-left: 40px;
        padding-right: 190px;
     }
     .guest-book img{
        width: 170px;
        height: 170px;
     }
     .guest-book a{
        padding:15px 130px;
        font-size: 20px;
     }
}


